@import "pretendard/dist/web/static/pretendard.css";

body {
  background-color: #fcf5e7;
  height: 190vh;
  overflow-x: hidden;
  font-family: "Pretendard", sans-serif;
}
/* Nav 아래*/
.SubNavBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120vw;
  height: 5vh;
  background-color: #a18363;
  position: absolute;
  margin-top: 3%;
  margin-left: -2%;
}
/*오늘은 무슨이야기부분 */
.SubText {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: -13%;
  -webkit-text-stroke-color: #bdb1b1;
  -webkit-text-stroke-width: 0.2px;
}

/* 헤더 전체*/
.Header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  gap: 2%;
}

/*오늘의 주제 */
.HeadText {
  font-size: 3vh;
  color: black;
  margin-top: 2%;
}
/*랜덤주제 있는 박스 */
.HeadBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36vw;
  height: 30vh;
  background-color: #f5e7d2;
}
/*랜덤주제 텍스트 */
.HeadBoxText {
  position: relative;
  color: #7b5d43;
  font-size: 3.3vh;
  margin-top: 8%;
  height: 9vh;
  width: 31vw;
  text-align: center;
}
.Prompt {
  font-size: 1.4vh;
}
/* 작성버튼*/
.WriteButton {
  background-size: 14;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2vh;
  -webkit-text-stroke-color: #bdb1b1;
  -webkit-text-stroke-width: 0.1px;
  background-color: #7b5d43;
  width: 10vw;
  height: 5.5vh;
  border-radius: 13px;
  margin-top: auto;
  margin-bottom: 2%;
  padding-right: 0.5vw;
  cursor: pointer;
}
/*버튼안에 이미지 */
.ButtonImage {
  margin-left: 3%;
  margin-right: -20%;
  height: 2.6vh;
}

/*다른사람이 쓴 부분 컨테이너 */
.MainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  position: relative;
  height: 45vh;
  width: 100vw;
  gap: 20%;
  background-color: #f5e7d2;
}

/* 최근 사람들이 쓴일기부분*/
.MainText {
  margin-top: -5%;
  margin-left: -2%;
  font-size: 3vh;
  color: black;
}
/* 다른사람 쓴 일기보는 박스 */
.DaliyBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1%;
  margin-left: 2vw;
  border-radius: 20px;
  width: 27vw;
  height: 27.5vh;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
  background-color: white;
  margin-bottom: 5%;
}
/* 슬라이드 부분 컨테이너 */
.SliderContainer {
  width: 100vw;
  height: 40vh;
  margin: auto;
}
/*일기 안 사용자 텍스트 */
.DaliyTitleText {
  position: absolute;
  height: 5vh;
  font-weight: bold;
  font-size: 3vh;
  margin-top: -5%;
}

/*일기쓴 날짜 텍스트 */
.DaliyDateText {
  position: absolute;
  margin-left: 14%;
  margin-bottom: 2.2%;
}
/* 일기 진짜 제목 텍스트*/
.DaliyTitle2Text {
  margin-top: -2.2%;
  position: absolute;
  font-size: 2vh;
  overflow-wrap: break-word !important;
}

.Line {
  margin-top: -2%;
  margin-left: 5%;
  width: 88%;
  height: 1px;
  background-color: black;
}
.DaliyContentText {
  position: absolute;
  margin-top: 1%;
  margin-right: 8%;
  font-size: 2vh;
}

.UserInfoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 88%;
  margin-bottom: 26%;
  width: 8vw;
  height: 5vh;
  background-color: #7b5d43;
  border-radius: 13px;
  color: white;
  cursor: pointer;
}

.footerCnontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20%;
  background-color: #f9dcba;
  width: 108vw;
  height: 35vh;
}
.FooterTitleText {
  margin-top: 10%;
  margin-left: 37vw;
}

.FooterBox {
  margin-left: -10vw;
  margin-top: 3vh;
  width: 21vw;
  height: 27vh;
  background-color: white;
  border-radius: 4vw;
}
.FooterImg1 {
  width: 5.6vw;
  margin-left: 7.5vw;
  margin-top: 1vh;
}
.FooterImg2 {
  margin-left: 8.2vw;
  margin-top: 1vh;
}
.FooterImg3 {
  margin-left: 8.2vw;
  margin-top: 1.3vh;
}
.Footertext1 {
  margin-top: 3vh;
  font-size: 1vw;
  text-align: center;
}
.Footertext2 {
  margin-top: 4.1vh;
  font-size: 1vw;
  text-align: center;
}
.Footertext3 {
  margin-top: 4.1vh;
  font-size: 1vw;
  text-align: center;
}
.MyProfile {
  cursor: pointer;
  margin-bottom: 16vh;
  position: absolute;
  margin-right: 17vw;
  width: 3vw;
  height: 6vh;
  background-color: #e0e0e0;
  border-radius: 50%;
  overflow: hidden;
}
.MyProfileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1280px) {
  .SubNavBox {
    height: 3.8vh;
    margin-top: 3.5%;
  }
  .SubText {
    font-size: 0.8em;
    font-weight: 600;
  }
  .Prompt {
    font-size: 1.7vh;
  }
  .WriteButton {
    font-size: 1.3vh;
    font-weight: bold;
  }
  .ButtonImage {
    height: 1.5vh;
  }
  .DaliyTitleText {
    font-size: 2vh;
  }
  .DaliyDateText {
    font-size: 1.2vh;
    font-weight: bold;
  }
  .DaliyTitle2Text {
    font-size: 1.2vh;
    font-weight: bold;
  }
  .DaliyContentText {
    font-size: 1.4vh;
    font-weight: bold;
  }
  .UserInfoButton {
    width: 8vw;
    height: 3.5vh;
    font-size: 1.4vh;
    margin-bottom: 30%;
  }
  .FooterTitleText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
  }
  .FooterBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .FooterImg1 {
    width: 8vw;
    margin-left: 0%;
  }
  .FooterImg2 {
    width: 8vw;
    margin-left: 0%;
  }
  .FooterImg3 {
    width: 8vw;
    margin-left: 0%;
  }
  .Footertext1 {
    font-size: 1.3vw;
    font-weight: bold;
  }
  .Footertext2 {
    font-size: 1.3vw;
    font-weight: bold;
  }
  .Footertext3 {
    font-size: 1.3vw;
    font-weight: bold;
  }
}
@media (max-width: 1024px) {
  .SubNavBox {
    height: 3vh;
    margin-top: 6%;
  }
  .SubText {
    font-size: 0.8em;
    font-weight: 600;
    -webkit-text-stroke-color: #bdb1b1;
    -webkit-text-stroke-width: 0.2px;
  }
  .Prompt {
    font-size: 1.7vh;
  }
  .WriteButton {
    font-size: 1.3vh;
    font-weight: bold;
  }
  .ButtonImage {
    height: 1.5vh;
  }
  .DaliyTitleText {
    font-size: 2vh;
  }
  .DaliyDateText {
    font-size: 1.2vh;
    font-weight: bold;
  }
  .DaliyTitle2Text {
    font-size: 1.2vh;
    font-weight: bold;
  }
  .DaliyContentText {
    font-size: 1.4vh;
    font-weight: bold;
  }
  .UserInfoButton {
    width: 8vw;
    height: 3.5vh;
    font-size: 1.2vh;
    margin-bottom: 30%;
  }
  .FooterTitleText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
  }
  .FooterBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .FooterImg1 {
    width: 9vw;
    margin-left: 0%;
  }
  .FooterImg2 {
    width: 9vw;
    margin-left: 0%;
  }
  .FooterImg3 {
    width: 9vw;
    margin-left: 0%;
  }
  .Footertext1 {
    font-size: 1.3vw;
    font-weight: bold;
  }
  .Footertext2 {
    font-size: 1.3vw;
    font-weight: bold;
  }
  .Footertext3 {
    font-size: 1.3vw;
    font-weight: bold;
  }
}
@media (max-width: 768px) {
  .SubNavBox {
    height: 2vh;
    margin-top: 2.4%;
  }
  .SubText {
    font-size: 0.1em;
  }
  .Header {
    height: 50vh;
    gap: 2%;
  }
  .HeadText {
    font-size: 2vh;
    margin-top: -6%;
  }
  .HeadBoxText {
    font-size: 2vh;
  }
  .HeadBox {
    width: 65vw;
    height: 20vh;
  }
  .Prompt {
    font-size: 1.5vh;
  }
  .WriteButton {
    font-size: 1vh;
    width: 10vw;
    height: 5vh;
  }
  .ButtonImage {
    margin-left: 3.7%;
    margin-right: -12%;
    height: 1.2vh;
    width: 0.8vh;
  }
  .MainText {
    margin-top: -5%;
    font-size: 2vh;
    color: black;
  }
  .MainContainer {
    margin-top: 0%;
    height: 35vh;
  }
  .DaliyBox {
    margin-top: 2%;
    width: 24vw;
    height: 20vh;
  }
  .DaliyTitleText {
    height: 5vh;
    font-weight: bold;
    font-size: 1.4vh;
    margin-top: -6%;
    margin-left: 1%;
  }
  .DaliyDateText {
    position: absolute;
    margin-left: 13%;
    margin-bottom: 1%;
    font-size: 1vh;
  }
  .DaliyTitle2Text {
    margin-top: -24%;
    position: static;
    font-size: 1.4vh;
    margin-left: 4%;
    margin-bottom: -5%;
    font-weight: bold;
  }
  .DaliyContentText {
    font-size: 1.2vh;
    font-weight: bold;
    margin-top: 4%;
    margin-left: 8%;
  }
  .UserInfoButton {
    font-size: 1.05vw;
    margin-left: 82%;
    margin-bottom: 36%;
    width: 7vw;
    height: 3.5vh;
  }
  .MyProfile {
    width: 4vw;
    height: 4vw;
    margin-top: 1%;
    margin-left: -1%;
    background-color: #e0e0e0;
    border-radius: 50%;
    overflow: none;
  }
  .FooterTitleText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9vh;
    margin-left: 0%;
  }
  .FooterBox {
    margin-top: 5%;
    width: 23vw;
    height: 25vh;
  }
  .Footertext1 {
    font-size: 1.2vw;
    font-weight: bold;
    margin-top: 20%;
  }
  .Footertext2 {
    font-size: 1.4vw;
    font-weight: bold;
    margin-top: 20%;
  }
  .Footertext3 {
    font-size: 1.4vw;
    font-weight: bold;
    margin-top: 20%;
  }
}
@media (max-width: 480px) {
  .SubNavBox {
    height: 2vh;
    margin-top: 3.8%;
  }
  .SubText {
    font-size: 0.1em;
  }
  .Header {
    height: 50vh;
    gap: 2%;
  }
  .HeadText {
    font-size: 2vh;
    margin-top: -6%;
  }
  .HeadBoxText {
    font-size: 2vh;
  }
  .HeadBox {
    width: 65vw;
    height: 20vh;
  }
  .Prompt {
    font-size: 1.5vh;
  }
  .WriteButton {
    font-size: 1vh;
    width: 10vw;
    height: 5vh;
  }
  .ButtonImage {
    margin-left: 3.7%;
    margin-right: -12%;
    height: 1.2vh;
    width: 0.8vh;
  }
  .MainText {
    margin-top: -10%;
    font-size: 2vh;
    color: black;
  }
  .MainContainer {
    margin-top: -4%;
    height: 35vh;
  }
  .DaliyBox {
    margin-top: 15%;
    width: 24vw;
    height: 20vh;
  }
  .DaliyTitleText {
    height: 5vh;
    font-weight: bold;
    font-size: 1.2vh;
    margin-top: -10%;
    margin-left: 1%;
  }
  .DaliyDateText {
    position: absolute;
    margin-left: 11%;
    margin-bottom: 2%;
    font-size: 0.9vh;
  }
  .DaliyTitle2Text {
    margin-top: -45%;
    position: static;
    font-size: 1.3vh;
    margin-left: 4%;
    margin-bottom: 5%;
    font-weight: bold;
  }
  .DaliyContentText {
    font-size: 1vh;
    font-weight: bold;
    margin-top: 4%;
    margin-left: 8%;
  }
  .UserInfoButton {
    font-size: 1.05vw;
    margin-left: 82%;
    margin-bottom: 36%;
    width: 7vw;
    height: 3.2vh;
  }
  .MyProfile {
    width: 4vw;
    height: 4vw;
    margin-top: 1%;
    margin-left: -0%;
    background-color: #e0e0e0;
    border-radius: 50%;
    overflow: none;
  }
  .FooterTitleText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9vh;
    margin-left: 0%;
  }
  .FooterBox {
    margin-top: 5%;
    width: 23vw;
    height: 21vh;
  }
  .Footertext1 {
    font-size: 1.2vw;
    font-weight: bold;
    margin-top: 20%;
  }
  .Footertext2 {
    font-size: 1.4vw;
    font-weight: bold;
    margin-top: 20%;
  }
  .Footertext3 {
    font-size: 1.4vw;
    font-weight: bold;
    margin-top: 20%;
  }
}
