body{
    background-color: #FCF5E7;
  }
  
  .Daliy-text{
    color:white;
    font-size: 2.5vh;
    margin-left: 3vw;
    margin-top: 1%;
  }
  .nav-box{
    margin-top: -1%;
    margin-left: -0.9%;
    position: absolute;
    width: 110vw;
    height: 8vh;
    background-color: #634A35 !important;
  }
  .name-text{
    margin-left: 55%;
    color:white;
    margin-top:-5vh;
  }