
  .Daliytext{
    position: absolute;
    margin-left: -79%;
    color:white;
    font-size: 2.5vh;
    cursor: pointer;
  
  }
  .navbox{
    position: absolute;
    display: flex;
    justify-content: space-around; 
    margin-top: -1%;
    margin-left: -0.9%;
    position: absolute;
    width: 110vw;
    height: 8vh;
    background-color: #634A35 !important;
  }
  .nametext{
    position: absolute;
    margin-top: 1.4%;
    color:white;
    margin-left: 32%;
  }
  .MyInfoText{
    position: absolute;
    color:white;
    margin-top: 1.4%;
    margin-left: 60%
  }
  .LogOutText{
    position: absolute;
    color: white;
   margin-left: 76%;
    margin-top: 1.4%;
    cursor: pointer;
  }