@import "pretendard/dist/web/static/pretendard.css";

.Daliytext {
  display: flex;
  text-align: left;
  color: white;
  font-size: 3vh;
  cursor: pointer;
  margin-left: 3%;
}
.navbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: #634a35 !important;
  align-items: center;
  font-family: "Pretendard", sans-serif;
}
.rightbox {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 4%;
}
.nametext {
  color: white;
}
.MyInfoText {
  cursor: pointer;
  color: white;
}
.LogOutText {
  color: white;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .Daliytext {
    font-size: 2.5vh;
    margin-left: 5%;
  }
  .navbox {
    height: 7vh;
  }
  .rightbox {
    gap: 45px;
    margin-right: 5%;
    font-size: 2vh;
  }
}

@media (max-width: 768px) {
  .Daliytext {
    font-size: 2.5vh;
    margin-left: 5%;
  }
  .navbox {
    height: 5vh;
  }
  .rightbox {
    gap: 45px;
    margin-right: 3%;
    font-size: 1.8vh;
  }
}

@media (max-width: 480px) {
  .Daliytext {
    font-size: 2vh;
    margin-left: 5%;
  }
  .navbox {
    height: 5vh;
  }
  .rightbox {
    gap: 25px;
    margin-right: 4%;
    font-size: 1.4vh;
  }
}

@media (max-width: 400px) {
  .Daliytext {
    font-size: 1.5vh;
    margin-left: 5%;
  }
  .navbox {
    height: 3vh;
  }
  .rightbox {
    gap: 15px;
    margin-right: 4%;
    font-size: 1vh;
  }
}
