@import 'pretendard/dist/web/static/pretendard.css';

.wrraper{
  background-color: #F5E7D2;
  min-height: 100vh;
  width: 100%;
}

/* 화면 꽉 차게 */
.container {
  height: 100vh;
  max-width: 780px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Arial', sans-serif;
  background-color: #F5E7D2;
}

.move{
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
  color: black;
}

/* 헤더: 이전, 월 라벨, 다음 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4em;
  font-weight: bold;
  font-size: 2rem;
}

/* 클릭 가능한 월 라벨 */
.monthLabel {
  cursor: pointer;
}

/* 요일 영역 */
.weekDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: 600;
  margin-bottom: 1em;
}

/* 요일 각 칸 */
.weekDay {
  padding: 6px 0;
  user-select: none;
  color: black;
  margin-bottom: 2em;
}

/* 일요일 빨간색 */
.sunday {
  color: red;
}

/* 토요일 파란색 */
.saturday {
  color: blue;
}

/* 날짜 그리드 */
.daysGrid {
  flex: 1;
  background-color: #FCF5E7;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  overflow-y: auto;
  padding: 1em;
  border: 1px double black;
  border-radius: 20px;
}

/* 날짜 칸 */
.dayBox {
  padding: 10px 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px dotted black;
  border-radius: 6px;
  background-color: #FCF5E7;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

/* 오늘 날짜 배경 */
.today {
  background-color: #FBEBC9;
}

/* 선택된 날짜 배경 */
.selected {
  background-color: #7B5D43;
  color: black;
}

/* 다른 달 날짜 회색 */
.otherMonth {
  color: #bbb;
}

.check {
  display: block;
  font-size: 1.2em;
  color: black;
  margin-top: 2px;
  font-weight: bold;
  text-decoration: none;
}
